<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" type="text/css" href="static/style/reset.css" /> -->
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script>
    function IsPC() {
      var userAgentInfo = navigator.userAgent;
      var Agents = ["Android", "iPhone",
        "SymbianOS", "Windows Phone",
        "iPad", "iPod"];
      var flag = true;
      for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
          flag = false;
          break;
        }
      }
      return flag
    }
    if (!IsPC()) {
      window.location.href = 'http://tool.yifanti.com'
    }
  </script>
</head>

<body style="margin: 0px;">
  <div id="app"></div>
</body>

</html>